<!Doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id = 'main_app'>
        <table id = 'category_title'>
            <tr style='height:20px'>
                <td>
                    {{icon_html | safe}}
                </td>
                <td>
                    <p>{{category}}</p>
                </td>
                <td>
                    <a id="return" href="/"><h1 style='float:right;font-size:48px;height:10px'> Zombie Zappers </h1></a>
                </td>
            </tr>
        </table>
      <div id = 'container'>
        <span style="padding-bottom:30px">
          <input id="searchbar" type="search" placeholder="Search">
        </span>
        <div id = 'category_title'>
        </div>
        <table id = 'category'>
            <tr>
                <th>
                    Score
                </th>
                <th>
                    Habit
                </th>
                <th>
                    Poster
                </th>
                <th>
                    Action
                </th>
            </tr>
            {% for habit in habits %}
              <tr>
                  <td>
                      {{habit.num_commitments}}
                  </td>
                  <td>
                      Every time I {{habit.trigger}}, I {{habit.habit}}
                  </td>
                  <td>
                      Posted by: <br>
                      {{habit.author}}
                  </td>
                  <td>
                      <button>Commit</button>
                      <button>Comment</button>
                  </td>
              </tr>
            {% endfor %}
            
        </table>
      </div>
    </div>
  </body>
</html>