<!Doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id = 'main_app'>
        <table id = 'category_title'>
            <tr style='height:20px'>
                <td>
                    <i class="fa fa-smile-o fa-3x" aria-hidden="true"></i>
                </td>
                <td>
                    <p>Mental Health</p>
                </td>
                <td>
                    <a href="home_page.html"><h1 style='float:right;font-size:48px;height:10px'> Zombie Zappers </h1></a>
                </td>
            </tr>
        </table>
      <div id = 'container'>
<!--         <table id='category'>
            <tr>
                <th>
                    Score
                </th>
                <th>
                    Habit
                </th>
                <th>
                    Poster
                </th>
            </tr>
            <tr>
                <td>
                    88
                </td>
                <td>
                    Every time I have the urge to smoke a cigarette, I sprint 100 yards
                </td>
                <td>
                <td>
                    Posted by: <br>
                    dmunk
                </td>
            </tr>
        </table> -->
                <table id='category'>
            <tr>
                <th>
                    Score
                </th>
                <th>
                    Habit
                </th>
                <th>
                    Poster
                </th>
            </tr>
            <tr>
                <td>
                    88
                </td>
                <td>
                    Every time I {{habit.trigger}}, I {{habit.habit}}
                </td>
                <td>
                <td>
                    Posted by: <br>
                    {{habit.author}}
                </td>
            </tr>
        </table>
        <table class='comments'>
            <tr>
                <th>
                    Comment
                </th>
                <th>
                    Posted by
                </th>
            </tr>
            <tr>
                <td>
                    This helped so much!
                </td>
                <td>
                    dmunk
                </td>
            </tr>
            <tr>
                <td>
                    one thing I love about this thing is how much of a thing it is, you know? Like wow crazy am I right guys ?
                </td>
                <td>
                    austin
                </td>
            </tr>
            {% for comment in comments %}
            <tr>
                <td>
                    {{comment.message}}
                </td>
                <td>
                    {{comment.poster}}
                </td>
            </tr>
            
            {% endfor %}
            <tr>
                <td colspan=2 class='comment-box'>
                    <div>
                        My Comment: 
                    </div>
                    <div style="margin:20px;margin-left:0">
                        <textarea rows="4" cols="100" name="comment"></textarea>
                    </div>
                    <div>
                        <button> Comment </button>
                    </div>
                </td>
            </tr>
        </table>
      </div>
    </div>
  </body>
</html>