<!Doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id = 'main_app'>
        <table id = 'category_title'>
            <tr style='height:20px'>
                <td>
                    {{icon_html | safe}}
                </td>
                <td>
                    <p>{{category}}</p>
                </td>
                <td>
                    <a href="home_page.html"><h1 style='float:right;font-size:48px;height:10px'> Zombie Zappers </h1></a>
                </td>
            </tr>
        </table>
      <div id = 'container'>
<!--         <table id='category'>
            <tr>
                <th>
                    Score
                </th>
                <th>
                    Habit
                </th>
                <th>
                    Poster
                </th>
            </tr>
            <tr>
                <td>
                    {{habit.num_commitments}}
                </td>
                <td>
                    Every time I {{habit.trigger}}, I {{habit.habit}}.
                </td>
                <td>
                <td>
                    Posted by: <br>
                    {{habit.author}}
                </td>
            </tr>
        </table> -->
                <table id='category'>
            <tr>
                <th>
                    Score
                </th>
                <th>
                    Habit
                </th>
                <th>
                    Poster
                </th>
            </tr>
            <tr>
                <td>
                    88
                </td>
                <td>
                    Every time I {{habit.trigger}}, I {{habit.habit}}
                </td>
                <td>
                <td>
                    Posted by: <br>
                    {{habit.author}}
                </td>
            </tr>
        </table>
        <table class='comments'>
            <tr>
                <th>
                    Comment
                </th>
                <th>
                    Posted by
                </th>
            </tr>
            {% for comment in comments %}
            <tr>
                <td>
                    {{comment.message}}
                </td>
                <td>
                    {{comment.poster}}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan=2 class='comment-box'>
                    <div>
                        My Comment: 
                    </div>
                    <div style="margin:20px;margin-left:0">
                        <textarea rows="4" cols="100" name="comment" form = 'new-comment'></textarea>
                    </div>
                    <div>
                        <form action='/new-comment' id = 'new-comment'>
                          <input type="hidden" name="habit" value="{{habit}}"/>
                          <button type='submit'> Comment </button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
      </div>
    </div>
  </body>
</html>