<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>
        $(function(){
            $("#tabs").tabs();
            $('#progressbar').progressbar({
              value:75
            });
        });
        $(document).ready({
          
        });
    </script>
  <body>
        {% if user.is_authenticated %}
    <div class="sign-in" style="padding-right:50px">
          <a href="{% url 'logout' %}" style="float:right">
              Sign Out
          </a>
    </div>
    {% else %}
    <div class="sign-in">
          <a href="">
              Sign in
          </a>
    </div>
    {% endif %}
     <div id = 'title'>
      <a id="return" href="home_page.html" style="text-decoration:none;"><h1> Zombie Zappers </h1></a>
    </div>
    <div id="tabs">
    <div id="user-tab">
            <div id="title">
                <div id="img">
                  <a>
                <i class="fa fa-user" aria-hidden="true"></i>
                <!-- <i class="fa fa-instagram" aria-hidden="true"></i> -->
                <!--Photo from "https://www.shareicon.net/interface-profile-user-user-earth-user-symbol-world-665303"-->
                  </a>
                </div>
                <hr/>
                <h2>Edit Your Profile!! </h2>
                <hr/>
    
                <div id="userdata">
                    <h3>About Me</h3>
                    <hr id="userhr" />
                    <div id="progressbardiv">
                      <form method='post' class="edit-page"style="padding:20px">{% csrf_token %}
                        {{profile_form.as_p}}
                        <!-- <textarea>I am trying to be less sedentary and get more sleep.</textarea> -->
                        <button type="submit" onclick="location.href='home_page.html'">Submit</button>
                        <button type="cancel" onclick="location.href='home_page.html'">Cancel</button>
                      </form>
                    
                    </div>
                </div>
                
                
            </div>
          
        </div>
        </div>
  </body>
</html>