<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>
        $(function(){
            $("#tabs").tabs();
            $('#progressbar').progressbar({
              value:75
            });
        });
        $(document).ready({
          
        });
    </script>
  </head>
  <body>
    <div class="sign-in">
          <button>
              Sign in
          </button>
    </div>
    <div id = 'title'>
      <h1> Zombie Zappers </h1>
    </div>
    {% if post_success == True %}
        <h4 style="text-align:center"> Habit Successfully Posted!</h4>
    {% endif %}
    <div id = 'top_post'>
      <button id = "close-post">x</button>
      <h2>I am trying to be lose 100lbs. What is a good way to achieve this?</h2>
          <div class="commitments">
            <ul>
              <li>
                Every time I want to eat a donut, I will eat 50 donuts
              </li>
              <li>
                Every time I want to have orange juice, I will brush my teeth
              </li>
              <li>
                Every time I fill up my water bottle, I will do 20 sit-ups
              </li>
              <li>
                Every time I feel tired, I will take a nap.
              </li>
            </ul>
          </div>
        </div>
        <!-- {% if user.is_authenticated%}
        Welcome, {{user.username}}!
        {%else %}
        Not logged in
        {% endif %} -->
    <div id = 'main_app'>
      <div id="tabs">
        <ul>
          <li><a href="#categories-tab">Search</a></li>
          <li><a href="#user-tab">Profile </a></li>
          <li><a href="#commitments-tab">Commitments</a></li>
          <li><a href="#addnew-tab"> + </a></li>
        </ul>
        <div id="categories-tab">
        <span style="padding-bottom:30px">
          <input id="searchbar" type="search" placeholder="Search">
        </span>
        <div id = 'search_results'>
          <ul>
          
          </ul>
        </div>
        <table id = 'categories'>
          <tr>
            <td><a href="/category/?category=mental_health">
              <i class="fa fa-smile-o fa-5x" aria-hidden="true"></i>
              <h3> Mental Health </h3>
              </a>
            </td>
            <td>
              <a href="/category/?category=fitness">
              <i class="fa fa-bicycle fa-5x" aria-hidden="true"></i>
              <h3> Fitness </h3>
              </a>
            </td>
            <td>
              <a href="/category/?category=memory">
              <i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
              <h3> Memory </h3>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/category/?category=creativity">
              <i class="fa fa-paint-brush fa-5x" aria-hidden="true"></i>
              <h3> Creativity </h3>
              </a>
            </td>
            <td>
              <a href="/category/?category=time_management">
              <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
              <h3> Time Management </h3>
              </a>
            </td>
            <td>
              <a href="/category/?category=other">
              <i class="fa fa-ellipsis-h fa-5x" aria-hidden="true"></i>
              <h3> Other </h3>
              </a>
            </td>
          </tr>
        </table>
      
      </div>
        <div id="user-tab">
            <div id="title">
                <i class="fa fa-user 5x" aria-hidden="true" id="user-icon"></i>
                <!--Photo from "https://www.shareicon.net/interface-profile-user-user-earth-user-symbol-world-665303"-->
                <hr/>
                <h2>Hello, {{user.username}}! <a href="{% url 'edit_profile' %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></h2>
                <hr/>
    
                <div id="userdata">
                    <h3>About Me</h3>
                    <hr id="userhr" />
                    <div id="progressbardiv" style="padding-bottom:0px">
                    <p>{{user.profile.statement}}</p>
                    </div>
                </div>
                <div id="userdata">
                    <h3>My Progress</h3>
                    <hr id="userhr" />
                    <div id="progressbardiv" style="">
                    <p>Current Level: 9999</p>
                    <table style="width:100%">
                      <tr>
                        <th style="width:10%;font-size:15px">9999</th>
                        <th><div id="progressbar" ></div></th>
                        <th style="width:10%;font-size:15px">9999+</th>
                      </tr>
                    </table>
                    </div>
                </div>
                
            </div>
          
        </div>
        <div id = "commitments-tab">
          <div class="commitments">
            <ul>
              {% for commitment in commitments %}
              <li>
                Every time I {{commitment.habit.trigger}} I will {{commitment.habit.habit}}
<!--                 Gets commitment pk
-->                <a href="{% url 'view_habit' pk=commitment.habit.pk%}"> Inspect</a>
                <button>Examine</button>
                <button>Delete</button>
              </li>
              {% endfor %}
              <!-- <li>
                Every time I want to say "Im sorry" for being late, I will say "I appreciate your patience."
              </li>
              <li>
                Every time I brush my teeth, I will floss my teeth
              </li>
              <li>
                Every time I fill up my water bottle, I will do 20 sit-ups
              </li>
              <li>
                Every time I sneeze, I will think of one thing to be thankful for
              </li> -->
            </ul>
          </div>
        </div>
        <div id="addnew-tab">
          <div class='commitments'>
            <h1>Add a new Habit!</h1>
            <form action="/" id='zz-form' method="post" >{% csrf_token %}
            {{habit_form.non_field_errors}}
            <div class="fieldWrapper">
             {{habit_form.category.errors}}
              <label for="{{habit_form.category.id_for_label}}">Category:</label> {{habit_form.category}}
            </div>

            <div class="fieldWrapper">
              {{habit_form.trigger.errors}}
              <label for="{{habit_form.trigger.id_for_label}}">Every Time I:</label> {{habit_form.trigger}}
            </div>
            <div class="fieldWrapper">
               {{habit_form.habit.errors}}
              <label for="{{habit_form.habit.id_for_label}}">I will</label> {{habit_form.habit}}
            </div>
<!-- 
            <h1>Add a new Habit!</h1>
            <label for="new-post-category"> Category </label>
            <select name='new-post-category' style='font-family:monospace'>
              <option value='Mental Health'> Mental Health </option>
              <option value='Fitness'> Fitness </option>
              <option value='Memory'> Memory </option>
              <option value='Creativity'> Creativity </option>
              <option value='Time Management'> Time Management </option>
              <option value='Other'> Other </option>
            </select>
            <label for="habit"> Habit </label><br>
            Every time <input type="textarea" name='trigger'/>, I will <input type="textarea" name='habit'/>. <br> -->
            <input type="submit" value="Submit" style='font-family:monospace'>
          </form>
          </div>
        </div>
      </div>
    </div>
    <script src="static/script.js"></script>
  </body>
</html>