<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <div id="loginpage">
    <div id = 'title'>
      <h1> Zombie Zappers </h1>
    </div>
    <div id = 'top_post' style="margin-top:50px;width:55%;text-align:center;">
      <h2>
        Sign Up!
      </h2>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
    {% endif %}
        <form method="post" style="text-align:center" action="{% url 'signup' %}">
          {% csrf_token %}
           <table style="text-align:left;margin:0 auto;">
            {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
            {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
        </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Sign Up "/>
        <input type="hidden" name="next" value="{{ next }}" />
        </form>

    </div>
    </div>
  </body>
</html>