<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function(){
            $("#tabs").tabs();
        });
    </script>
</head>

<body>
    <div id="title">
        <h1>Zombie Zappers</h1>
    </div>
    <div id="container">
        <div id="title">
            <img src="usericondefault.png" />
            <!--Photo from "https://www.shareicon.net/interface-profile-user-user-earth-user-symbol-world-665303"-->
            <hr/>
            <h2>Hello, User!</h2>
            <hr/>

            <div id="userdata">
                About Me
                <hr id="userhr" />
            </div>
            <div id="userdata">
                My Progress
                <hr id="userhr" />
            </div>
            <div id="userdata">
                My Commitments
                <hr id="userhr" />
            </div>
        </div>
    </div>
    <!--<div id="container">-->
    <!--    <h2 id="userdataheadings">About Me</h2>-->
    <!--    <hr/>-->
    <!--</div>-->
    <!--<div id="container">-->
    <!--    <h2 id="userdataheadings">My Progress</h2>-->
    <!--    <hr/>-->
    <!--</div>-->
    <!--<div id="container">-->
    <!--    <h2 id="userdataheadings">My Commitments</h2>-->
    <!--    <hr/>-->
    <!--</div>-->

</body>

</html>
